.containerbutton {
padding-top: 3rem;
padding-bottom: 3rem;
}

.container__button1 {
  color: $white;
  font-size: $medium;
  background-color: $nickel;
  border-radius: 25px;
  border: 1px solid $eerie-black;
  
}
.container__button2 {
    color: $white;
    font-size: $medium;
    background-color: $nickel;
    border-radius: 25px;
    border: 1px solid $eerie-black;

  }
